/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
  color: #5c6b7e;
  line-height: 20px;
  background-color: #e9f0f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Arial, sans-serif;
  color: #001837;
}

a {
  text-decoration: none;
}

abbr {
  border-bottom: 1px dashed #5c6b7e;
  cursor: help;
}

.container-wrap {
  width: 100%;
  background-color: #e9f0f5;
}

.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.main-header {
  width: 100%;
  background-color: #3C827E;
}

.navbar {
  padding-left: 0;
  text-align: center;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  display: block;
  position: relative;
  text-transform: uppercase;
  color: #000;
  padding: 15px 15px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar li a:hover {
  background-color: #739795;
}

/* .navbar-flat { background: #3C827E; margin-bottom: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.navbar-flat .navbar-collapse { text-align: center; }
.navbar-flat .navbar-toggle .icon-bar { background: white; }
.navbar-flat ul { float: none; }
.navbar-flat li { display: inline-block; float: none; }
.navbar-flat li a:hover { background: #739795; color: white; }
.navbar-flat li a:focus { background: #739795; color: white; }
.navbar-flat li.active a { background: #739795; color: white; }
.navbar-flat a { font-family: "Lato", sans-serif; font-weight: 700; color: #f7f8f8; -webkit-transition: all 0.3s ease-in, 1s; -moz-transition: all 0.3s ease-in, 1s; -o-transition: all 0.3s ease-in, 1s; -ms-transition: all 0.3s ease-in, 1s; transition: all 0.3s ease-in, 1s; }
.navbar-flat .navbar-brand { display: none; } */
.sprite-codepen, .sprite-github, .sprite-li, .sprite-tt, .sprite-viadeo {
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
}

.footer {
  background: #363b3f;
  padding: 15px 0;
}

.footer p {
  font-size: 12px;
  color: white;
  text-align: center;
}

.footer ul {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.footer li {
  display: inline-block;
  margin: 0 4px;
}

.footer li a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in, 1s;
  -moz-transition: all 0.3s ease-in, 1s;
  -o-transition: all 0.3s ease-in, 1s;
  transition: all 0.3s ease-in, 1s;
}

/*
* ^social
*/
.sprite-codepen {
  background-image: url(../img/social-sprite.png);
  background-position: 9.5px 9.5px;
}

.sprite-codepen:hover {
  background-color: #000;
}

.sprite-github {
  background-image: url(../img/social-sprite.png);
  background-position: -130px 9.5px;
}

.sprite-github:hover {
  background-color: #000;
}

.sprite-li {
  background-image: url(../img/social-sprite.png);
  background-position: -199px 9.5px;
}

.sprite-li:hover {
  background-color: #0073b2;
}

.sprite-tt {
  background-image: url(../img/social-sprite.png);
  background-position: -267px 9.5px;
}

.sprite-tt:hover {
  background-color: #9ae4e8;
}

.sprite-viadeo {
  background-image: url(../img/social-sprite.png);
  background-position: -337px 9.5px;
}

.sprite-viadeo:hover {
  background-color: #ff974d;
}

.timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.timeline:before {
  /* Vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  .timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
/*
* ^timeline block
*/
.timeline-block {
  position: relative;
  margin: 2em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 4em 0;
  }

  .timeline-block:first-child {
    margin-top: 0;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }
}
/*
* ^timeline image
*/
.timeline-img {
  background-image: url("../img/timeline-sprite-40.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.timeline-img a {
  display: block;
  width: 40px;
  height: 40px;
}

.timeline-arkena {
  background-position: 0px 0px;
}

.timeline-byagency {
  background-position: -90px 0px;
}

.timeline-cput {
  background-position: -180px 0px;
}

.timeline-em {
  background-position: -270px 0px;
}

.timeline-iut {
  background-position: -360px 0px;
}

@media only screen and (min-width: 1170px) {
  .timeline-img {
    background-image: url("../img/timeline-sprite-64.png");
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
  .timeline-img a {
    width: 64px;
    height: 64px;
  }

  .timeline-arkena {
    background-position: 0px 0px;
  }

  .timeline-byagency {
    background-position: -114px 0px;
  }

  .timeline-cput {
    background-position: -230px 0px;
  }

  .timeline-em {
    background-position: -344px 0px;
  }

  .timeline-iut {
    background-position: -460px 0px;
  }

  .cssanimations .timeline-img.is-hidden {
    visibility: hidden;
  }

  .cssanimations .timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: bounce 0.6s;
    -moz-animation: bounce 0.6s;
    animation: bounce 0 .6s;
  }
}
/*
* ^timeline content
*/
.timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.timeline-content h2 {
  color: #303e49;
}
.timeline-content p {
  margin: 1em 0;
}
.timeline-content .read-more, .timeline-content .date {
  display: inline-block;
}
.timeline-content .read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.timeline-content .read-more:hover {
  background-color: #bac4cb;
}
.timeline-content .date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.timeline-content:before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }

  .timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .timeline-content .read-more {
    float: left;
  }
  .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .timeline-block:nth-child(even) .timeline-content .date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }

  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .cssanimations .timeline-content.is-hidden {
    visibility: hidden;
  }

  .cssanimations .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: move-right 0.6s;
    -moz-animation: move-right 0.6s;
    animation: move-right 0.6s;
  }
}
/*@media only screen and (min-width: 1170px) {
  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: move-left 0.6s;
    -moz-animation: move-left 0.6s;
    animation: move-left 0.6s;
  }
}*/
/*
* ^animation ^bounce
*/
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/*
* ^move right
*/
@-webkit-keyframes move-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes move-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes move-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/*
* ^move left
*/
@-webkit-keyframes move-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes move-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes move-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.em {
  background-image: url("../img/ecole_multimedia.jpg");
}

/*# sourceMappingURL=main.css.map */
