%social-icon{
	width: 19px; 
	height: 19px; 
	background-repeat:no-repeat;
}

.footer { 
	background: #363b3f; 
	padding: 15px 0;
}
.footer p { 
	font-size: 12px; 
	color: white; 
	text-align: center; 
}
.footer ul { 
	width: 100%; 
	text-align: center; 
	margin-top: 20px; 
}
.footer li { 
	display: inline-block; 
	margin: 0 4px; 
}
.footer li a { 
	display: block; 
	text-decoration: none; 
	border-bottom: none; 
	padding: 18px; 
	@include border-radius(3px);
	@include transition(all 0.3s ease-in, 1s);
}

/*
* ^social
*/
.sprite-codepen{ 
	background-image: url(../img/social-sprite.png); 
	background-position: 9.5px 9.5px; 
	@extend %social-icon;
} 
.sprite-codepen:hover{ background-color: #000;} 
.sprite-github{
	@extend %social-icon; 
	background-image: url(../img/social-sprite.png); 
	background-position: -130px 9.5px;
} 
.sprite-github:hover{ background-color: #000;} 
.sprite-li{
	@extend %social-icon; 
	background-image: url(../img/social-sprite.png); 
	background-position: -199px 9.5px;
} 
.sprite-li:hover{ background-color: #0073b2;} 
.sprite-tt{
	@extend %social-icon; 
	background-image: url(../img/social-sprite.png); 
	background-position: -267px 9.5px;
} 
.sprite-tt:hover{ background-color: #9ae4e8; } 
.sprite-viadeo{
	@extend %social-icon;
	background-image: url(../img/social-sprite.png); 
	background-position: -337px 9.5px;
}
.sprite-viadeo:hover{ background-color: #ff974d;}